.weatherBar > ul {
    list-style: none;
    display: flex;
    text-align: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0;
}

.weatherBar > ul > li {
  margin:  auto;
}

.label {
  font-weight: 600;
}

.weatherBar {
  width: 75%;
  z-index: 3;
  margin: 0 auto;
}
